* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}



/*Navigation Bar*/
nav {
	z-index: 1;
	display: block;
	position: sticky;
	top: 0px;
	padding: 0.5rem;
	height: 64px;
	background-color: white;
}

ul {
	position: relative;
}

.nav-logo {
	display: inline-block;
	margin-left: 1.5rem;
	margin-top: 0.25rem;
}

.nav {
	display: inline;
	margin: 0.5rem;
}

.right-nav {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 1.5rem;
}

.tuitt-button {
	height: 48px;
	width: 112px;
	border-radius: 24px;
	border-style: none;
	background-color: #c2195b;
	color: white;
	font-weight: bold;
}
/*End of Navigation Bar*/




/*Landing*/
#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	min-height: 20rem;
	background-position: center;
	/*background-attachment: fixed;*/
}

.front-bg {
	height: 20rem;
	background-color: rgba(0,0,0,0.4);
	text-align: right;
	position: relative;
}

.container {
	/*background-color: rgba(0,128,0,0.4);*/
	width: 48%;
	height: 15rem;

	position: absolute;
	right: 4rem;

	padding-top: 1rem;
}

.title {
	color: white;

	font-family: "Zilla Slab";
	font-size: 48px;

	margin-bottom: 1rem;
}

.subtitle {
	color: white;

	font-family: Tahoma, sans-serif;
	font-size: 16px;

	margin-bottom: 2rem;
}

.apply-button {
	height: 36px;
	width: 132px;
	border-radius: 24px;
	border-style: none;
	background-color: #c2195b;
	color: white;
	font-weight: bold;
}
/*End of Landing*/




/*Intro Section*/
.intro {
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.title-2 {
	font-family: "Zilla Slab";
	margin: 2rem;
}

.intro-description{
	padding-right: 4rem;
	padding-left: 4rem;
}
/*End of Intro Section*/




/*Pre-Footer Section*/
.pre-footer {
	background-color: #F0F8FF;
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.prefooter-description {
	padding-right: 4rem;
	padding-left: 4rem;
	padding-bottom: 4rem;
}

.book-button {
	height: 36px;
	width: 132px;
	border-radius: 24px;
	border-style: none;
	background-color: #336589;
	color: white;
	font-weight: bold;
}
/*End of Pre-Footer Section*/





footer {
	text-align: center;
}